<div class="row">
  
  <div class="bg-light" style="min-height: 80%;  position: fixed; overflow: scroll; width: 500px; padding: 10px 26px;">
    <div class="col-sm-12 "  *ngFor="let msg of messageFrom">
      <p>
        <span class="badge " [class.badge-secondary]="userJsonData.id == msg.sender_id">{{msg.thread}}</span>
      </p>
      </div>
      <div  style="position: absolute; bottom: 0" >
          <textarea  cols="50" rows="5" #mesgTxt>Hi</textarea>
          <div id="demo" class="carousel slide" data-ride="carousel">
              <button (click)="postMessage(mesgTxt)" >
                Go
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                    </a>
              </button>
          </div>
      </div>
    
   
  </div>
  
</div>